<div class="container-fluid bg-light py-6 my-6 mt-0">
  <div class="container text-center animated bounceInDown">
    <div class="mb-4"><%= render @recipe %></div>
    <div class="text-primary">Level: <%= @recipe.recipe_detail.difficulty %> | Servings: <%= @recipe.recipe_detail.servings %> per person | Cook Time: <%= @recipe.recipe_detail.cook_time %>m</div>
    <div>Authors:
      <% @recipe.authors.each_with_index do |author, index| %>
        <%= author.name %><% if index < @recipe.authors.size - 1 %>,<% end %>
      <% end %>
    </div>
    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2"></div>
    <div>Tags:
      <% @recipe.tags.each_with_index do |tag, index| %>
        <%= tag.name %><% if index < @recipe.tags.size - 1 %>,<% end %>
      <% end %>
    </div>
    <div>Ingredients:
      <% @recipe.ingredients.each_with_index do |ingredient, index| %>
        <%= ingredient.name %><% if index < @recipe.ingredients.size - 1 %>,<% end %>
      <% end %>
    </div>
    <p class="mb-0"><%= @recipe.description %></p>
    <div class="breadcrumb justify-content-center mb-0 animated bounceInDown">
    <% if request.referer && URI(request.referer).path == category_path(@recipe.category) %>
        <%= link_to "Back to recipes", category_path(@recipe.category), class: "breadcrumb-item" %>
    <% else %>
        <%= link_to "Back to recipes", recipes_path, class: "breadcrumb-item" %>
    <% end %>
    </div>
  </div>
</div>
