<p style="color: green"><%= notice %></p>

<%= render @recipe_author %>

<div>
  <%= link_to "Edit this recipe author", edit_recipe_author_path(@recipe_author) %> |
  <%= link_to "Back to recipe authors", recipe_authors_path %>

  <%= button_to "Destroy this recipe author", @recipe_author, method: :delete %>
</div>
