<div id="<%= dom_id recipe_detail %>">
  <p>
    <strong>Recipe:</strong>
    <%= recipe_detail.recipe_id %>
  </p>

  <p>
    <strong>Servings:</strong>
    <%= recipe_detail.servings %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= recipe_detail.difficulty %>
  </p>

  <p>
    <strong>Cooktime:</strong>
    <%= recipe_detail.cookTime %>
  </p>

</div>
